.htmlfragment {
  padding: 0 p {
    font-size: inherit;
    line-height: inherit;
  }
}
h2 {
  font-size: inherit;
}
p {
  line-height: inherit;
}
#footer,
#cmp-related-tags,
.cmp-footer__links,
.cmp-footer__top-bar,
#footer__utility-bar {
  display: none;
}
.branded-landing-page-content {
  margin: 90px auto 90px;
}
